*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.container{
  width: 100vw;
  height: 100vh;
}

.pre-navigation-bar{
  width: 100%;
  height: 75px;
  background: #F5F8FA;
  border-bottom: 1px solid #CBD6E2;
}

.pre-nav-bar-element{
  width: 60%;
  height: 75px;
  margin: auto;
  line-height: 75px;
}

.linguaggio{
  display: inline-block;
  line-height: 35px;
  margin-left: 10px;
  border-right: 2px solid lightgrey;
}

.linguaggio i{
  margin-right: 10px;
  color: grey;
}

.telefono{
  display: inline-block;
  line-height: 35px;
  margin-left: 10px;
}

.telefono i{
  color: grey;
}

.search{
  float: right;
}

.search i{
  margin-right: 10px;
}

.search a{
  text-decoration: none;
  background: #ff7a59;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 13px;
}

.navigation-bar{
  width: 100%;
  height: 75px;
}

.nav-bar-element{
  width: 60%;
  height: 75px;
  margin: auto;
  line-height: 75px;
}

.logo{
  display: inline-block;
  margin-left: 10px;
  line-height: 75px;
}

.logo img{
  width: 50%;
}

.menu{
  float:right;
}

.menu ul li{
  display: inline-block;
  margin-right: 18px;
}

.ctn-listen-now{
  background: #2D3E50;
  width: 100%;
  height: 75px;
  color: white;
  text-align: center;
  line-height: 75px;
}

.ctn-listen-now a{
  color: #2D3E50;
  font-weight: 700;
  margin-left: 15px;
  text-decoration: none;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  font-size: 13px;
}

.grow-slide{
  width: 100%;
  height: 500px;
  background: linear-gradient(to top right, rgba(35,116,145,1) 0%,rgba(0,158,186,1) 50%,rgba(103,200,216,1) 100%);
  color: white;
  margin: auto;
  padding-top: 70px;
}

.grow-inner{
  width: 60%;
  margin: auto;
}

.grow-content{
  width: 40%;
  margin-left: 10px;
}

.grow-title{
  font-weight: 700;
  font-size: 50px;
}

.grow-sub-title{
  margin-bottom: 35px;
}

.grow-button a{
  color: #2D3E50;
  font-weight: 700;
  text-decoration: none;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  font-size: 13px;
}

.grow-sub-button{
  width: 35%;
  margin-top: 35px;
  font-size: 10px;
}
