*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body{
  background: #F4F8FA;
}

.container{
  width: 100vw;
  height: 100vh;
  background: #F4F8FA;
  overflow-x: hidden;
}

.pre-navigation-bar{
  width: 100%;
  height: 75px;
  background: #F5F8FA;
  border-bottom: 1px solid #CBD6E2;
  position: fixed;
}

.pre-nav-bar-element{
  width: 60%;
  height: 100%;
  margin: auto;
  line-height: 75px;
}

.linguaggio{
  display: inline-block;
  line-height: 35px;
  margin-left: 10px;
  border-right: 2px solid lightgrey;
}

.linguaggio i{
  margin-right: 10px;
  color: grey;
}

.telefono{
  display: inline-block;
  line-height: 35px;
  margin-left: 10px;
}

.telefono i{
  color: grey;
}

.search{
  float: right;
}

.search i{
  margin-right: 10px;
}

.search a{
  text-decoration: none;
  background: #ff7a59;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 13px;
}

.navigation-bar{
  width: 100%;
  height: 75px;
  background: white;
  margin-top: 75px;
}

.nav-bar-element{
  width: 60%;
  height: 75px;
  margin: auto;
  line-height: 75px;
}

.logo{
  float: left;
  line-height: 75px;
  width:20%;
  padding-left: 10px;
}

.logo img{
  width: 50%;
}

.menu{
  float:left;
  width: 80%;
  text-align: right;
}

.menu-button{
  margin-right: 10px;
  text-decoration: none;
  color: #000;
}


.ctn-listen-now{
  background: #2D3E50;
  width: 100%;
  height: 75px;
  color: white;
  text-align: center;
  line-height: 75px;
}

.ctn-listen-now a{
  color: #2D3E50;
  font-weight: 700;
  margin-left: 15px;
  text-decoration: none;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  font-size: 13px;
}

.disclaimer-left, .disclaimer-right{
  height: 100%;
  float: left;
}

.disclaimer-left{
  width: 80%;
}

.disclaimer-right{
  width: 20%;
}

.disclaimer-container{
  width: 60%;
  margin: auto;
}

.grow-slide{
  width: 100%;
  height: 500px;
  background: linear-gradient(to top right, rgba(35,116,145,1) 0%,rgba(0,158,186,1) 50%,rgba(103,200,216,1) 100%);
  color: white;
  margin: auto;
  padding-top: 70px;
  border-bottom: 3px solid black;
}

.grow-inner{
  width: 60%;
  margin: auto;
}

.grow-content{
  width: 40%;
  margin-left: 10px;
}

.grow-title{
  font-weight: 700;
  font-size: 50px;
}

.grow-sub-title{
  margin-bottom: 35px;
}

.grow-button a{
  color: #2D3E50;
  font-weight: 700;
  text-decoration: none;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  font-size: 13px;
}

.grow-sub-button{
  width: 35%;
  margin-top: 35px;
  font-size: 10px;
}

.powerful{
  width: 60%;
  margin: auto;
  margin-top: 25px;
  text-align: center;
}

.powerful img{
  width: 40%;
}

.powerful p{
  padding-left: 100px;
  padding-right: 100px;
}

.crm{
  width: 100%;
  margin-top: 50px;

}

.crm-inner{
  width: 60%;
  height: 270px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  margin: auto;
  box-shadow: 4px 0px 10px rgba(0,0,0,0.1);
}

.crm-left{
float: left;
text-align: center;
width: 44%;
}

.crm-left  a{
  text-decoration: none;
  background: #ff7a59;
  padding: 8px;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  display: block;
  width: 20%;
  margin: auto;
}

.crm-left img{
  width: 40%;
  margin-bottom: 15px;
}

.crm-right{
  position:relative;
  float:right;
  width: 550px;
}

.crm-right h2{
  line-height: 60px;
}

.crm-right p{
  font-size: 15px;
}

hr.style-eight {
    overflow: visible;
    border: none;
    border-top: 1px solid #E1E6ED;
    color: #333;
    text-align: left;
    width: 75%;
    font-size: 18px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 30px;
}

hr.style-eight:after {

    content: "POPULAR FEATURES";
    display: inline-block;
    position: relative;
    top: -0.7em;
    padding: 0 0.25em;
    background: white;
}


.cerchietto{
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background: orange;
  position: absolute;
  display:inline-block;
  text-align: center;
  color: white;
}

.cerchietto-text{
  margin-left: 30px;
  margin-right: 30px;
  font-size: 15px;
  display: inline-block;
}

.tre-box-ctn{
  width: 100%;
  margin-top: 35px;
}

.box-container{
  width: 100%;
}

.box-inner{
  width: 60%;
  margin: auto;
}

.box{
  width: calc((100% / 3) - (40px / 3));
  background: white;
  text-align: center;
  box-shadow: 4px 0px 10px rgba(0,0,0,0.1);
  float: left;
  margin-top: 30px;
  padding: 10px;
}

.box hr{
  width: 50%;
  margin: auto;
}

.box p{
  margin-bottom: 10px;
}

.box-inner i{
  margin-right: 20px;
  margin-bottom: 20px;
}

.box-left{
  margin-right: 20px;
  padding: 20px;
}

.box-left img{
  width: 40%;
}

.box-left h3{
  margin-top: 20px;
}

.box-left ul{
  margin-top: 25px;
}

.box-left ul li{
  list-style: none;
  text-align: left;
}

.box-center{
  margin-right: 20px;
  padding: 20px;
}

.box-center img{
  width: 50%;
}

.box-right{
  margin-right: 0;
  padding: 20px;
}

.box-right img{
  width: 35%;
}

.cerchio-orange{
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background: orange;
  text-align: center;
  color: white;
}

.box-center h3{
  margin-top: 20px;
}

.box-center ul{
  margin-top: 25px;
}

.box-center ul li{
  list-style: none;
  text-align: left;
}

.box-right h3{
  margin-top: 20px;
}

.box-right ul{
  margin-top: 25px;
}

.box-right ul li{
  list-style: none;
  text-align: left;
}

.box-left a, .box-center a, .box-right  a{
  text-decoration: none;
  background: #ff7a59;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  display: block;
  width: 40%;
  margin: auto;
}

.slider-table{
  width: 100%;
  height: auto;
  background: linear-gradient(to top right, rgba(35,116,145,1) 0%,rgba(0,158,186,1) 50%,rgba(103,200,216,1) 100%);
  float: left;
  margin-top: 60px;
}

.slider-table{
  color: white;
}

.slider-table-h1{
  margin-top: 100px;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 700;
  padding-left: 30%;
  padding-right: 30%;
}

.slider-table-p{
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  margin-bottom: 50px;
}

.table-wrapper{
  width: 60%;
  height: 400px;
  margin:auto;
}

.table{
  width: 270px;
  height: 184px;
  color: white;
  text-align: center;

}

.tab1{
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  display: inline-block;
  padding: 40px;
}

.tab2{
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  display: inline-block;
  margin-left: -4px;
  padding: 40px;
}

.tab3{
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  display: inline-block;
  margin-left: -4px;
  padding: 40px;
}

.tab4{
  border-bottom: 1px solid white;
  display: inline-block;
  margin-left: -4px;
  padding: 40px;
}

.tab5{
  border-right: 1px solid white;
  padding: 40px;
}
